body {
    padding: 50px;
    font-family: "Courier New", Courier, monospace;
    background-color: #428bca;
    color: #f9f9f9;
}

h1 {
    color: #f9f9f9;
    padding: 25px 0px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #d9534f;
    border-radius: 4px;
}

.searchBar {
    margin: 30px auto;    
}

.searchBar > p {
    margin-top: 10px;
}

.searchBar > p > a {
    text-decoration: underline;
}

a {
    color: #f9f9f9;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #f9f9f9;
}

header {
    letter-spacing: 1px;
}

.well {
    background-color: #d9534f;
    color: #ffffff;
}

.well-sm {
    background-color: #ffffff;
}

footer {
    margin-top: 50px;
}

.ct-point {
    stroke-width: 15px;
    stroke-linecap: square;
}

.ct-labels span {
    color: #000000;
    font-size: 70%;
}

.modal-content {
    background-color: #428bca;
    color: #f9f9f9;
}

.modal-footer {
    text-align: center;
}